<?php
//This is the connection information for the opengtfs database.  Copy this
//file to config/database.php and fill in the information
define( 'DB_NAME',     'gtfs_production' );
define( 'DB_HOSTNAME', 'www.example.com'     );
define( 'DB_USERNAME', 'username'            );
define( 'DB_PASSWORD', 'password'            );

//This is the connection information for the logging database.  By default,
//it uses the same host, user, and password as above, but you can change that.
define( 'LOG_DB_NAME',    'qr_log'     );
define( 'LOG_DB_HOSTNAME', DB_HOSTNAME );
define( 'LOG_DB_USERNAME', DB_USERNAME );
define( 'LOG_DB_PASSWORD', DB_PASSWORD );
?>
